@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?28195107');
  src: url('../fonts/fontello.eot?28195107#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?28195107') format('woff2'),
       url('../fonts/fontello.woff?28195107') format('woff'),
       url('../fonts/fontello.ttf?28195107') format('truetype'),
       url('../fonts/fontello.svg?28195107#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?28195107#fontello') format('svg');
  }
}
*/
 
 [class^="ciopea-"]:before, [class*=" ciopea-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ciopea-formacion:before { content: '\e800'; } /* '' */
.ciopea-bro:before { content: '\e801'; } /* '' */
.ciopea-aprendizaje:before { content: '\e802'; } /* '' */
.ciopea-eneltrabajo:before { content: '\e803'; } /* '' */
.ciopea-certificado:before { content: '\e804'; } /* '' */
.ciopea-revista:before { content: '\e805'; } /* '' */
.ciopea-reconocimiento:before { content: '\e806'; } /* '' */
.ciopea-enseñanza:before { content: '\e807'; } /* '' */
.ciopea-somos:before { content: '\e808'; } /* '' */
.ciopea-ley:before { content: '\e809'; } /* '' */
.ciopea-conocer:before { content: '\e80a'; } /* '' */
.ciopea-trabajo:before { content: '\e80b'; } /* '' */
.ciopea-universidad:before { content: '\e80c'; } /* '' */
.ciopea-liceo:before { content: '\e80d'; } /* '' */
.ciopea-inicial:before { content: '\e80e'; } /* '' */
.ciopea-escuela:before { content: '\e80f'; } /* '' */
.ciopea-qrcode:before { content: '\e810'; } /* '' */
.ciopea-megaphone:before { content: '\e811'; } /* '' */
.ciopea-compass:before { content: '\e812'; } /* '' */
.ciopea-location:before { content: '\e813'; } /* '' */
.ciopea-home:before { content: '\e814'; } /* '' */
.ciopea-lock:before { content: '\e815'; } /* '' */
.ciopea-lock-open:before { content: '\e816'; } /* '' */
.ciopea-wrench:before { content: '\e817'; } /* '' */
.ciopea-signal:before { content: '\e818'; } /* '' */
.ciopea-book:before { content: '\e819'; } /* '' */
.ciopea-network:before { content: '\e81a'; } /* '' */
.ciopea-stackoverflow:before { content: '\e81b'; } /* '' */
.ciopea-slideshare:before { content: '\e81c'; } /* '' */
.ciopea-attach:before { content: '\e81d'; } /* '' */
.ciopea-phone:before { content: '\e81e'; } /* '' */
.ciopea-folder-open:before { content: '\e81f'; } /* '' */
.ciopea-award:before { content: '\e820'; } /* '' */
.ciopea-briefcase:before { content: '\e821'; } /* '' */
.ciopea-hammer:before { content: '\e822'; } /* '' */
.ciopea-user-add:before { content: '\e823'; } /* '' */
.ciopea-users:before { content: '\e824'; } /* '' */
.ciopea-user:before { content: '\e825'; } /* '' */
.ciopea-thumbs-up:before { content: '\e826'; } /* '' */
.ciopea-thumbs-down:before { content: '\e827'; } /* '' */
.ciopea-note:before { content: '\e828'; } /* '' */
.ciopea-note-beamed:before { content: '\e829'; } /* '' */
.ciopea-tools:before { content: '\e82a'; } /* '' */
.ciopea-gplus:before { content: '\e82b'; } /* '' */
.ciopea-youtube:before { content: '\e82c'; } /* '' */
.ciopea-soundcloud:before { content: '\e82d'; } /* '' */
.ciopea-wallet:before { content: '\e82e'; } /* '' */
.ciopea-paper-plane:before { content: '\e82f'; } /* '' */
.ciopea-graduation-cap:before { content: '\e830'; } /* '' */
.ciopea-pencil:before { content: '\e831'; } /* '' */
.ciopea-news:before { content: '\e832'; } /* '' */
.ciopea-contacts:before { content: '\e833'; } /* '' */
.ciopea-phone-outline:before { content: '\e834'; } /* '' */
.ciopea-graduation-cap-1:before { content: '\e835'; } /* '' */
.ciopea-paper-plane-2:before { content: '\e836'; } /* '' */
.ciopea-attach-1:before { content: '\e837'; } /* '' */
.ciopea-qrcode-1:before { content: '\e838'; } /* '' */
.ciopea-cog-alt:before { content: '\e839'; } /* '' */
.ciopea-pencil-1:before { content: '\e83a'; } /* '' */
.ciopea-brush-1:before { content: '\e83b'; } /* '' */
.ciopea-pencil-2:before { content: '\e83c'; } /* '' */
.ciopea-edit:before { content: '\e83d'; } /* '' */
.ciopea-pencil-3:before { content: '\e83e'; } /* '' */
.ciopea-article-alt:before { content: '\e83f'; } /* '' */
.ciopea-book-1:before { content: '\e840'; } /* '' */
.ciopea-tablet:before { content: '\e841'; } /* '' */
.ciopea-mobile-alt:before { content: '\e842'; } /* '' */
.ciopea-mobile:before { content: '\e843'; } /* '' */
.ciopea-money:before { content: '\e844'; } /* '' */
.ciopea-cloud-sun-inv:before { content: '\e845'; } /* '' */
.ciopea-cloud-moon-inv:before { content: '\e846'; } /* '' */
.ciopea-cloud-flash-inv:before { content: '\e847'; } /* '' */
.ciopea-sun:before { content: '\e848'; } /* '' */
.ciopea-snow-heavy-inv:before { content: '\e849'; } /* '' */
.ciopea-vector-pencil:before { content: '\e84a'; } /* '' */
.ciopea-cinema:before { content: '\e84b'; } /* '' */
.ciopea-art-gallery:before { content: '\e84c'; } /* '' */
.ciopea-github:before { content: '\e84d'; } /* '' */
.ciopea-plancast:before { content: '\e84e'; } /* '' */
.ciopea-duckduckgo:before { content: '\e84f'; } /* '' */
.ciopea-aim:before { content: '\e850'; } /* '' */
.ciopea-paypal:before { content: '\e851'; } /* '' */
.ciopea-android-1:before { content: '\e852'; } /* '' */
.ciopea-dribbble:before { content: '\e853'; } /* '' */
.ciopea-yahoo:before { content: '\e854'; } /* '' */
.ciopea-email:before { content: '\e855'; } /* '' */
.ciopea-chrome:before { content: '\e856'; } /* '' */
.ciopea-pinterest:before { content: '\e857'; } /* '' */
.ciopea-w3c:before { content: '\e858'; } /* '' */
.ciopea-html5:before { content: '\e859'; } /* '' */
.ciopea-blogger:before { content: '\e85a'; } /* '' */
.ciopea-cc:before { content: '\e85b'; } /* '' */
.ciopea-google:before { content: '\e85c'; } /* '' */
.ciopea-skype:before { content: '\e85d'; } /* '' */
.ciopea-twitter:before { content: '\e85e'; } /* '' */
.ciopea-vimeo:before { content: '\e85f'; } /* '' */
.ciopea-macstore:before { content: '\e860'; } /* '' */
.ciopea-amazon:before { content: '\e861'; } /* '' */
.ciopea-ebay:before { content: '\e862'; } /* '' */
.ciopea-dropbox:before { content: '\e863'; } /* '' */
.ciopea-facebook:before { content: '\e864'; } /* '' */
.ciopea-github-circled:before { content: '\e865'; } /* '' */
.ciopea-yelp:before { content: '\e866'; } /* '' */
.ciopea-instagram:before { content: '\e867'; } /* '' */
.ciopea-acrobat:before { content: '\e868'; } /* '' */
.ciopea-bitbucket:before { content: '\e869'; } /* '' */
.ciopea-video-alt:before { content: '\e86a'; } /* '' */
.ciopea-laptop:before { content: '\e86b'; } /* '' */
.ciopea-gift:before { content: '\e86c'; } /* '' */
.ciopea-person:before { content: '\e86d'; } /* '' */
.ciopea-universal-access:before { content: '\e86e'; } /* '' */
.ciopea-female:before { content: '\e86f'; } /* '' */
.ciopea-male:before { content: '\e870'; } /* '' */
.ciopea-facebook-1:before { content: '\e871'; } /* '' */
.ciopea-twitter-1:before { content: '\e872'; } /* '' */
.ciopea-w3c-1:before { content: '\e873'; } /* '' */
.ciopea-instagram-2:before { content: '\e874'; } /* '' */
.ciopea-picasa:before { content: '\e875'; } /* '' */
.ciopea-pinterest-1:before { content: '\e876'; } /* '' */
.ciopea-cog:before { content: '\e877'; } /* '' */
.ciopea-truck:before { content: '\e878'; } /* '' */
.ciopea-key:before { content: '\e879'; } /* '' */
.ciopea-doc:before { content: '\e87a'; } /* '' */
.ciopea-megaphone-1:before { content: '\e87b'; } /* '' */
.ciopea-photo:before { content: '\e87c'; } /* '' */
.ciopea-camera:before { content: '\e87d'; } /* '' */
.ciopea-attach-2:before { content: '\e87e'; } /* '' */
.ciopea-video:before { content: '\e87f'; } /* '' */
.ciopea-paper-plane-1:before { content: '\f01d'; } /* '' */
.ciopea-vector:before { content: '\f045'; } /* '' */
.ciopea-magic:before { content: '\f0d0'; } /* '' */
.ciopea-desktop:before { content: '\f108'; } /* '' */
.ciopea-spinner:before { content: '\f110'; } /* '' */
.ciopea-puzzle:before { content: '\f12e'; } /* '' */
.ciopea-ellipsis:before { content: '\f141'; } /* '' */
.ciopea-android:before { content: '\f17b'; } /* '' */
.ciopea-slideshare-1:before { content: '\f1e7'; } /* '' */
.ciopea-brush:before { content: '\f1fc'; } /* '' */
.ciopea-street-view:before { content: '\f21d'; } /* '' */
.ciopea-object-group:before { content: '\f247'; } /* '' */
.ciopea-wheelchair-alt:before { content: '\f29b'; } /* '' */
.ciopea-blind:before { content: '\f29d'; } /* '' */
.ciopea-braille:before { content: '\f2a1'; } /* '' */
.ciopea-american-sign-language-interpreting:before { content: '\f2a3'; } /* '' */
.ciopea-address-book:before { content: '\f2b9'; } /* '' */
.ciopea-ravelry:before { content: '\f2d9'; } /* '' */
.ciopea-facebook-rect:before { content: '\f301'; } /* '' */
.ciopea-twitter-bird:before { content: '\f303'; } /* '' */
.ciopea-googleplus-rect:before { content: '\f309'; } /* '' */
.ciopea-skype-1:before { content: '\f30b'; } /* '' */
.ciopea-youtube-1:before { content: '\f313'; } /* '' */
.ciopea-instagram-1:before { content: '\f31e'; } /* '' */
.ciopea-instagram-filled:before { content: '\f31f'; } /* '' */
.ciopea-win8:before { content: '\f325'; } /* '' */
.ciopea-qq:before { content: '\f32a'; } /* '' */